@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;1,600&family=Space+Grotesk&display=swap");

@font-face {
  font-family: "Sectra";
  src: url("../fonts/GT-Sectra-Display-Super-Italic-Trial.woff2");
}

:root {
  --color-turquoise: #80ffdb;
  --color-purple: #6930c3;
  --color-gray: #252525;
  --color-white: #ffffff;
  --headline-big: 384px;
  --headline-medium: 128px;
  --headline-small: 80px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-family: "Sectra";
  font-size: 96px;
  line-height: 110%;
  text-transform: uppercase;
  color: var(--color-turquoise);
  margin: 15vh 0 24px;
}

h2 {
  font-family: "Sectra";
  font-size: var(--headline-medium);
  line-height: 110%;
  text-transform: uppercase;
}

p {
  font-family: "IBM Plex Sans";
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.04em;
}

p.category,
h4 {
  font-family: "Space Grotesk";
  font-size: 14px;
  line-height: 125%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

p.subline,
h3 {
  font-family: "IBM Plex Sans";
  font-style: italic;
  font-weight: 600;
  font-size: 18px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 24px;
  padding: 96px 150px 120px;
  max-width: 1400px;
  margin: 0 auto;
}

.buttonLight,
.buttonDark {
  padding: 8px 16px;
  border-radius: 2px;
  text-transform: uppercase;
  font-family: "Space Grotesk";
  font-size: 12px;
  letter-spacing: 0.1em;
  border: none;
  transition: 0.1s;
}

.buttonLight:hover,
.buttonDark:hover {
  cursor: pointer;
  transform: translate(4px, -4px);
}

/* button:active {
  transform: translate(-10px, 10px);
  box-shadow: inset 0px 0px 0px 5px #452194, inset 0px 0px 0px 10px #8cefdd,
    inset 0px 0px 0px 15px #452194, 0px 0px 0px -5px #ccb9fe,
    0px 0px 0px 0px #452194;
} */

.buttonLight {
  background: var(--color-turquoise);
  box-shadow: inset 0px 0px 0px 2px var(--color-purple),
    0px 0px 0px -1px var(--color-turquoise), 0px 0px 0px 0px var(--color-purple);
  color: var(--color-purple);
}

.buttonLight:hover {
  box-shadow: inset 0px 0px 0px 2px var(--color-purple),
    -4px 4px 0px -1px var(--color-turquoise),
    -4px 4px 0px 0px var(--color-purple);
}

.buttonLight:active {
  transform: translate(0px, 0px);
  box-shadow: inset 0px 0px 0px 2px var(--color-purple),
    0px 0px 0px -1px var(--color-turquoise), 0px 0px 0px 0px var(--color-purple);
}

.buttonDark {
  background: var(--color-purple);
  box-shadow: inset 0px 0px 0px 2px var(--color-turquoise),
    0px 0px 0px -1px var(--color-purple), 0px 0px 0px 0px var(--color-turquoise);
  color: var(--color-turquoise);
}

.buttonDark:hover {
  box-shadow: inset 0px 0px 0px 2px var(--color-turquoise),
    -4px 4px 0px -1px var(--color-purple),
    -4px 4px 0px 0px var(--color-turquoise);
}

.buttonDark:active {
  transform: translate(0px, 0px);
  box-shadow: inset 0px 0px 0px 2px var(--color-turquoise),
    0px 0px 0px -1px var(--color-purple), 0px 0px 0px 0px var(--color-turquoise);
}

nav {
  padding: 32px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.logo {
  width: 64px;
  height: 64px;
  background: var(--color-white);
}

nav button:not(nav button:last-of-type) {
  margin-right: 24px;
}

/* ==========HEADER SECTION========== */

header {
  background-color: var(--color-purple);
  min-height: 100vh;
  display: flex;
  align-items: center;
}

header h1 {
  grid-column: span 9;
  z-index: 10;
}

header div div {
  grid-column: span 9;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  column-gap: 24px;
}

header .category {
  margin-bottom: 24px;
  grid-column: span 4;
  color: white;
}

header button {
  grid-column-start: 1;
}

.headerBgImg {
  background-image: url("../images/photo-1519389950473-47ba0277781c.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

/* ==========REGISTER SECTION========== */

.register {
  background-color: var(--color-turquoise);
}

.register h2 {
  text-transform: none;
}

.register div:nth-of-type(1) {
  grid-column: span 3;
}

.register div:nth-of-type(1) p {
  margin-bottom: 96px;
}

.register div:nth-of-type(2) {
  grid-column: 5 / span 8;
}

.register div:nth-of-type(2) h2 {
  font-family: "Sectra";
  color: var(--color-purple);
  font-size: 80px;
  line-height: 110%;
  margin-top: 188px;
  margin-bottom: 60px;
}

/* ==========ORGANIZERS SECTION========== */

.organizers {
  max-width: 1400px;
  margin: 0 auto;
}

.organizers h2 {
  color: var(--color-purple);
  font-size: var(--headline-medium);
}

.organizer {
  display: flex;
  margin-bottom: 64px;
  grid-column: 5 / span 7;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 24px;
}

.organizer:last-of-type {
  margin-bottom: 0;
}

.organizerLogo {
  background-color: silver;
  color: white;
  display: inline-block;
  padding: 8px;
  grid-column: span 2;
  height: 32px;
  text-align: center;
}

.organizer div {
  grid-column: span 5;
}

.organizer a {
  font-family: "IBM Plex Sans";
  font-style: italic;
  font-weight: 600;
  font-size: 18px;
  color: var(--color-gray);
  text-decoration: none;
  margin-bottom: 16px;
  display: inline-block;
}

.organizer a:hover {
  color: var(--color-turquoise);
}

.organizer a:after {
  content: url("../images/Arrow.svg");
  margin-left: 24px;
  margin-top: 11px;
  transition: 0.2s;
}

.organizer a:hover:after {
  margin-left: 48px;
}

.organizer .category {
  margin-bottom: 24px;
}

/* ==========SCHEDULE SECTION========== */

.schedule {
  background-color: var(--color-turquoise);
}

.levelOne,
.levelTwo {
  display: flex;
}

.levelTwo {
  flex-direction: row-reverse;
}

.headlineBackground {
  width: calc(
    100vw - 150px - 4 * 24px - ((100vw - 300px - 11 * 24px) / 12) * 8
  );
}

.levelTwo .headlineBackground {
  background-color: var(--color-gray);
}

.levelTwo .scheduleHeadline {
  color: var(--color-white);
}

.scheduleHeadline {
  /* transform-origin: top left;
  transform: rotate(-90deg) translateX(-446px); */
  color: var(--color-purple);
  position: -webkit-sticky;
  position: sticky;
  top: calc(100vh - 446px - 24px);
  /* width: 446px; */
  height: 123px;
}

.scheduleHeadline h2 {
  line-height: 100px;
  font-size: 80px;
}

.scheduleContent {
  padding: 96px 150px 120px calc((100vw - 300px - 11 * 24px) / 12 + 24px);
  width: calc(
    100vw - 150px - 4 * 24px - ((100vw - 300px - 11 * 24px) / 12) * 4
  );
}

.levelOne .scheduleContent {
  background-color: var(--color-gray);
}

.levelTwo .scheduleContent {
  background-color: var(--color-turquoise);
}

.levelOne .scheduleContent {
  color: var(--color-turquoise);
}

.scheduleContent > div {
  display: flex;
  align-items: baseline;
  margin-bottom: 80px;
}

.scheduleContent > div:last-of-type {
  margin-bottom: 0;
}

.scheduleContent .subline {
  margin-bottom: 64px;
}

.levelOne .scheduleContent .category {
  color: var(--color-white);
  margin-right: 16px;
}

.levelTwo .scheduleContent .category {
  color: var(--color-purple);
  margin-right: 16px;
}

.scheduleContent h3 {
  margin-bottom: 16px;
}

.scheduleContent .workshop {
  margin-top: 48px;
  display: flex;
  gap: 24px;
  align-items: center;
}

.scheduleContent .workshop h4 {
  margin-bottom: 16px;
}

.scheduleContent .workshop:before {
  content: "<";
  font-family: "Sectra";
  font-size: 64px;
  line-height: 64px;
  color: var(--color-purple);
  margin-bottom: 8px;
}

.scheduleContent .workshop:after {
  content: ">";
  font-family: "Sectra";
  font-size: 64px;
  line-height: 64px;
  color: var(--color-purple);
  margin-bottom: 8px;
}

.rectangle {
  height: 216px;
  background-color: var(--color-gray);
  clip-path: polygon(
    calc(100vw - 150px - 4 * 24px - ((100vw - 300px - 11 * 24px) / 12) * 8) 0,
    100% 0,
    100% 100%,
    calc(100vw - 150px - 4 * 24px - ((100vw - 300px - 11 * 24px) / 12) * 4) 100%
  );
}

/* ==========VOICES SECTION========== */

.voices h2 {
  color: var(--color-purple);
  grid-column: span 12;
  margin-bottom: 120px;
  font-size: var(--headline-medium);
}

.quote {
  grid-column: span 8;
  position: relative;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.quote:nth-of-type(1) {
  grid-column: 4 / span 8;
}

.quote:nth-of-type(3) {
  grid-column: 5 / span 8;
}

.quote::before {
  content: '"';
  position: absolute;
  top: -49px;
  left: -30px;
  color: var(--color-turquoise);
  font-family: "Sectra";
  font-size: var(--headline-medium);
  z-index: -10;
}

.quote .subline {
  margin-bottom: 32px;
}

.quote .category {
  width: 100%;
}

.quote img {
  height: 298px;
}

/* ==========BENEFITS SECTION========== */

.benefits {
  background-color: var(--color-gray);
  color: var(--color-turquoise);
}

.headlineWrapper {
  width: 100%;
  overflow: hidden;
  display: flex;
}

.benefits h2 {
  animation: title 4s infinite linear;
  margin-right: 32px;
}

@keyframes title {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-618px);
  }
}

.benefits .category {
  color: var(--color-white);
}

.benefit {
  display: flex;
  align-items: baseline;
  gap: 16px;
  grid-column: 2 / span 10;
  margin-bottom: 64px;
}

/* ==========REQUIREMENTS SECTION========== */

.requirements {
  background-color: var(--color-turquoise);
}

.requirements h2 {
  color: var(--color-purple);
  text-align: end;
  grid-column: 6 / span 9;
  font-size: var(--headline-medium);
}

.requirements .subline {
  grid-column: 1 / span 6;
  margin-bottom: 96px;
}

.requirements .subline:last-of-type {
  margin-bottom: 0;
}

.requirements .subline:nth-of-type(1) {
  margin-top: -48px;
}

/* ==========CTA SECTION========== */

.cta {
  background-color: var(--color-purple);
  color: var(--color-white);
}

.cta h2 {
  grid-column: span 12;
}

.ctaContent {
  grid-column: 6 / span 6;
  margin-top: -64px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.ctaContent .subline {
  margin-bottom: 32px;
}

/* ==========FAQ SECTION========== */
.faq {
  position: relative;
}

.faq h2 {
  color: var(--color-turquoise);
  font-size: var(--headline-big);
  line-height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -10;
}

.faqElement {
  grid-column: span 7;
  border-top: 2px solid var(--color-purple);
  padding: 24px 16px;
}

.faqElement:nth-of-type(1) {
  margin-top: 168px;
}

.question {
  background: transparent;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: none;
  text-align: start;
}

.question:hover {
  cursor: pointer;
  color: var(--color-purple);
}

.question > h3:nth-of-type(2) {
  margin-right: 24px;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out, margin-top 0.2s ease-in-out;
}

/* ==========BECOME A PARTNER SECTION (ALMOST THE SAME AS REQUIREMENTS SECTION)========== */

.requirementsContent {
  grid-column: 1 / span 5;
}

.requirements a {
  color: var(--color-purple);
  text-decoration: none;
}

.requirements a:hover {
  color: var(--color-white);
}

.requirements .buttonLight {
  margin-top: 64px;
  margin-bottom: 64px;
}

.requirements .organizer {
  grid-column: 1 / span 6;
}

.requirements .organizer a {
  color: var(--color-gray);
}

.requirements .organizer a:hover {
  color: var(--color-purple);
}

.requirements .organizer a:after {
  content: url("../images/arrow-purple.svg");
  margin-left: 24px;
  margin-top: 11px;
  transition: 0.2s;
}

.requirements .organizer a:hover:after {
  margin-left: 48px;
}

.partnerLogos {
  grid-column: 8 / span 6;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 24px;
  align-self: start;
}

.partnerLogos .organizerLogo {
  grid-column: span 2;
}
